.user__item{
    margin: 20px;
    width: 40%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.user{
    display: flex;
    align-items: center;
}

.user__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.user-link{
    color: rgb(255, 138, 29);
    font-size: 20px;
    text-decoration: none;
    margin: 5px 0;
    font-weight: 600;
    padding: 0;
    transition: all .2s ease;
}

.user-link:hover{
    color: rgb(0, 174, 255);
}
.user-link:active{
    color: rgb(255, 138, 29);
}

.user__email-link{
    text-decoration: none;
    color: rgb(0, 55, 219);
}

.user__avatar{
    cursor: pointer;
    overflow:hidden;
    width: 130px;
    height: 130px;
    border-radius: 10px 0 0 10px;
}

.user__avatar img {
   transition: all 0.5s ease-out;
}
    
.user__avatar img:hover{
    transform: scale(1.1);
}